/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color: #ffffff;
  --primary-color: #007bff;
  --section-bg-color: #f9f9f9;
  --dark-color: #000000;
  --text-secondary-white-color: rgba(255, 255, 255, 0.98);
  --title-color: #565758;
  --p-color: #717275;

  --body-font-family: "Noto Sans JP", sans-serif;

  --h1-font-size: 72px;
  --h2-font-size: 42px;
  --h3-font-size: 36px;
  --h4-font-size: 32px;
  --h5-font-size: 24px;
  --h6-font-size: 22px;
  --p-font-size: 20px;
  --copyright-text-font-size: 14px;
  --custom-link-font-size: 12px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  --color-red: #dc3545;
  --color-orange: #ffc107;
  --color-green: #28a745;
  --color-blue: #007bff;
  --color-violet: #6f42c1;
}

body,
html {
  height: 100%;
}

body {
  background: var(--white-color);
  font-family: var(--body-font-family);
  position: relative;
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1,
h2 {
  font-weight: var(--font-weight-black);
}

h1 {
  font-size: var(--h1-font-size);
  line-height: normal;
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
  letter-spacing: 0.5px;
}

.text-secondary-white-color {
  color: var(--text-secondary-white-color);
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  color: var(--p-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

::selection {
  background: var(--dark-color);
  color: var(--white-color);
}

.custom-underline {
  border-bottom: 2px solid var(--white-color);
  color: var(--white-color);
}

.custom-underline:hover,
.custom-underline:hover::after {
  border-bottom: none;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  z-index: -100;
}

.custom-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  background: linear-gradient(to top, #000, transparent 90%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*---------------------------------------
  CUSTOM LINK               
-----------------------------------------*/
.custom-links {
  max-width: 230px;
}

.custom-link {
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: inline-block;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.custom-link::after {
  content: "";
  width: 0;
  height: 2px;
  bottom: 0;
  position: absolute;
  left: auto;
  right: 0;
  z-index: -1;
  transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  background: currentColor;
}

.custom-link:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

.custom-link:hover,
.custom-link:hover::after {
  color: var(--white-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

/*---------------------------------------
  NAVIGATION               
-----------------------------------------*/

.navbar {
  z-index: 9;
  right: 0;
  left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-brand {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: var(--font-weight-bold);
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-nav .nav-link::after {
  content: "\f140";
  font-family: bootstrap-icons;
  display: inline-block;
  margin-left: 10px;
  color: var(--primary-color);
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

.navbar-nav .nav-link:hover::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.navbar-nav .nav-link {
  color: var(--p-color);
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  position: relative;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-item.active .nav-link::after {
  color: var(--primary-color);
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.navbar-nav .nav-item.active .nav-link,
.nav-link:focus,
.nav-link:hover {
  color: var(--dark-color);
}

.nav-link:focus {
  color: var(--p-color);
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease,
    -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--dark-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease,
    -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--dark-color);
  width: 30px;
  height: 2px;
  content: "";
}

.navbar-toggler .navbar-toggler-icon:before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon:after {
  top: 8px;
}

/*---------------------------------------
  HERO              
-----------------------------------------*/
.hero {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .hero {
    height: 100vh;
  }

  .custom-video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
  }

  .sticky-wrapper {
    position: relative;
    bottom: 76px;
  }
}

.heroText {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  text-align: center;
}

/*---------------------------------------
  ABOUT               
-----------------------------------------*/
.about-image,
.team-image {
  width: 100%;
  height: 100%;
  max-height: 635px;
  min-height: 475px;
  object-fit: cover;
}

.team-thumb {
  background: var(--white-color);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 65%;
  padding: 22px 32px 32px 32px;
}

.carousel-control-next,
.carousel-control-prev {
  top: auto;
  bottom: 2.5rem;
}

.carousel-control-prev {
  right: 4rem;
  left: auto;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: var(--dark-color);
  background-size: 50% 50%;
  border-radius: 100px;
  width: 3rem;
  height: 3rem;
}

/*---------------------------------------
  PORTFOLIO               
-----------------------------------------*/
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-info {
  margin: 20px;
}

.portfolio-image {
  display: block;
  transition: transform 0.6s ease-out;
}

.portfolio-image-hover {
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding-bottom: 4px;
  height: 100%;
}

.portfolio-image-hover::after {
  content: "";
  width: 0;
  height: 4px;
  bottom: 0;
  position: absolute;
  left: auto;
  right: 0;
  z-index: -1;
  transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.portfolio-image-hover-orange::after {
  background: var(--color-orange);
}

.portfolio-image-hover-red::after {
  background: var(--color-red);
}

.portfolio-image-hover-blue::after {
  background: var(--color-blue);
}

.portfolio-image-hover-green::after {
  background: var(--color-green);
}

.portfolio-image-hover:hover::after {
  width: 100%;
  left: 0;
  right: auto;
  z-index: 9;
}

.image-popup:hover .portfolio-image,
.portfolio-image-hover:hover .portfolio-image {
  transform: scale(1.02);
}

.portfolio-two-column {
  min-height: 199px;
  margin-bottom: 16px;
}

.portfolio-two-column .portfolio-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*---------------------------------------
  SKILLS             
-----------------------------------------*/

.skills {
  background: #0000005c;
  background-image: url(../images/computer.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  background-blend-mode: multiply;
}

/* Slider */
.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/*---------------------------------------
  HISTORY              
-----------------------------------------*/
.main-timeline {
  position: relative;
}

.main-timeline:before {
  content: "";
  width: 5px;
  height: 100%;
  margin: 0 auto;
  background: #242922;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
}

.timeline {
  display: inline-block;
  margin-bottom: 50px;
  position: relative;
  width: 100%;
}

.timeline-dot {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid #fff;
  background: var(--color-red);
  position: absolute;
  top: 8%;
  left: 0%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.timeline-content {
  width: 50%;
  padding: 0 50px;
  margin: 70px 0 0;
  float: right;
  position: relative;
}

.timeline-content:before {
  content: "";
  width: 70%;
  height: 100%;
  border: 5px solid var(--color-red);
  border-top: none;
  border-right: none;
  position: absolute;
  bottom: -13px;
  left: 35px;
}
.timeline-content:after {
  content: "";
  width: 40px;
  height: 5px;
  background: var(--color-red);
  position: absolute;
  top: 13px;
  left: 0;
}

.timeline-title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 5px;
  color: var(--color-red);
}
.timeline-title span {
  font-weight: 300;
  text-transform: none;
}
.timeline-description {
  display: inline-block;
  font-size: 16px;
  color: #404040;
  line-height: 20px;
  letter-spacing: 1px;
  margin: 0;
}

.timeline:nth-child(even) .timeline-content {
  float: left;
}
.timeline:nth-child(even) .timeline-dot {
  left: 100%;
}
.timeline:nth-child(even) .timeline-content:before {
  left: auto;
  right: 35px;
  transform: rotateY(180deg);
}
.timeline:nth-child(even) .timeline-content:after {
  left: auto;
  right: 0;
}

.timeline:nth-child(2n) .timeline-title {
  color: var(--color-orange);
}

.timeline:nth-child(2n) .timeline-dot {
  background: var(--color-orange);
  /* top: 30%; */
}
.timeline:nth-child(2n) .timeline-content:after,
.timeline:nth-child(2n):before {
  background: var(--color-orange);
}

.timeline:nth-child(2n) .timeline-content:before {
  border-left-color: var(--color-orange);
  border-bottom-color: var(--color-orange);
}

.timeline:nth-child(3n) .timeline-title {
  color: var(--color-green);
}
.timeline:nth-child(3n) .timeline-dot {
  background: var(--color-green);
  /* top: 30%; */
}
.timeline:nth-child(3n) .timeline-content:after,
.timeline:nth-child(3n):before {
  background: var(--color-green);
}
.timeline:nth-child(3n) .timeline-content:before {
  border-left-color: var(--color-green);
  border-bottom-color: var(--color-green);
}

.timeline:nth-child(4n) .timeline-title {
  color: var(--color-blue);
}

.timeline:nth-child(4n) .timeline-dot {
  background: var(--color-blue);
  /* top: 25%; */
}
.timeline:nth-child(4n) .timeline-content:after,
.timeline:nth-child(4n):before {
  background: var(--color-blue);
}
.timeline:nth-child(4n) .timeline-content:before {
  border-left-color: var(--color-blue);
  border-bottom-color: var(--color-blue);
}

.timeline:nth-child(5n) .timeline-title {
  color: var(--color-violet);
}
.timeline:nth-child(5n) .timeline-dot {
  background: var(--color-violet);
  /* top: 40%; */
}
.timeline:nth-child(5n) .timeline-content:after,
.timeline:nth-child(5n):before {
  background: var(--color-violet);
}
.timeline:nth-child(5n) .timeline-content:before {
  border-left-color: var(--color-violet);
  border-bottom-color: var(--color-violet);
}

/*---------------------------------------
  SITE FOOTER               
-----------------------------------------*/
.site-footer {
  background: var(--dark-color);
  padding-top: 4.5rem;
  padding-bottom: 2.5rem;
}

.site-footer .custom-link {
  color: rgba(255, 255, 255, 0.65);
  font-size: var(--p-font-size);
}

.site-footer .custom-link:hover {
  color: var(--white-color);
}

/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  color: rgba(255, 255, 255, 0.45);
  font-size: 1.5rem;
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 15px;
}

.social-icon-link:hover {
  color: var(--white-color);
}

/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (min-width: 1600px) {
  .portfolio-two-column {
    min-height: 232.5px;
  }
  .timeline-content {
    margin-top: 75px;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .section-padding {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .team-thumb {
    left: 0;
    width: auto;
  }

  .portfolio-two-column {
    height: auto !important;
    min-height: inherit;
  }

  .skills .col-12 .portfolio-two-column:first-child {
    margin-bottom: 38px;
  }
  .timeline {
    margin: 0 0 10px;
  }
  .timeline-content {
    margin-top: 115px;
  }

  .timeline-dot {
    top: 5%;
  }
}

@media screen and (max-width: 767px) {
  .skills-detail-title {
    font-size: 36px;
  }
  .main-timeline {
    padding-top: 50px;
  }
  .main-timeline:before {
    left: 0px;
    right: 20px;
    margin: 0;
  }
  .timeline {
    margin-bottom: 70px;
  }
  .timeline:before {
    top: 0;
    left: 0px;
    right: 0;
    margin: 0;
  }

  .timeline-content,
  .timeline:nth-child(even) .timeline-content {
    width: 100%;
    margin-top: -15px;
    padding-left: 30px;
    padding-right: 5px;
  }
  .timeline:nth-child(even) .timeline-content {
    float: right;
  }
  .timeline-content:before,
  .timeline:nth-child(even) .timeline-content:before {
    width: 50%;
    left: 20px;
  }
  .timeline:nth-child(even) .timeline-content:before {
    right: auto;
    transform: rotateY(0);
  }
  .timeline-content:after,
  .timeline:nth-child(even) .timeline-content:after {
    left: 0px;
    width: 20px;
  }
  .timeline-dot,
  .timeline:nth-child(even) .timeline-dot {
    left: 0;
    top: 7%;
    width: 20px;
    height: 20px;
}
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 32px;
  }

  .heroText p {
    font-size: 14px;
  }
  .timeline-content,
  .timeline:nth-child(2n) .timeline-content {
    padding-left: 30px;
  }
  .timeline-content:before,
  .timeline:nth-child(2n) .timeline-content:before {
    left: 20px;
  }
  .timeline-content:after,
  .timeline:nth-child(2n) .timeline-content:after {
    left: 0px;
  }
    .timeline-dot,
  .timeline:nth-child(even) .timeline-dot {
    left: 0;
    top: 7%;
    width: 20px;
    height: 20px;
}
}

@media screen and (max-width: 359px) {
  .skills-detail-title {
    font-size: 22px;
  }
}
